.Homepage45 .header {
  padding: 80px 20px;
  text-align: center;
}

.Homepage45 .header .govt {
  font-size: 5vw;
  font-weight: 700;
  color: rgb(255, 255, 255);
  text-transform: capitalize;
  padding-bottom: 4vw;
}

.Homepage45 .header .header-btn {
  margin-top: 90px;
  background-color: transparent;
  color: white;
}

.Homepage45 .header-btn:hover {
  background-color: black;
  color: white;
  width: 150px;
}

.Homepage45 .wel {
  font-size: 44pt;
  font-family: "Sirin Stencil";
  font-weight: 700;
  color: rgb(255, 255, 255);
  text-transform: capitalize;
}

.Homepage45 .header-container {
  min-height: 100vh;
  align-items: center;
  background-repeat: no-repeat;
  background-size: cover;
  text-transform: capitalize;
  background-position: center;
  background-attachment: fixed;
  background-image: url(../../assets/background-header.webp);
}

.Homepage45 .body-text {
  height: 400px;
  padding: 15px 8px;
  color: white;
  text-transform: capitalize;
  /* font-family: 'Russo One', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif; */
  background-color: rgb(59, 59, 59);
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.Homepage45 .img-container {
  background-color: rgb(59, 59, 59);
  background-image: url(../../assets/network.webp);
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  background-repeat: no-repeat;
  text-align: end;
  /* padding-left: 8%; */
  overflow: hidden;
  position: relative;
}

.Homepage45 .img-container h1 {
  font-size: 7vw !important;
  font-weight: bold;
  font-family: "Orbitron";
}

.Homepage45 .r1 {
  min-height: 400px;
}

.Homepage45 .r1 h1 {
  font-size: 0.875rem;
  line-height: 1.43;
}

.Homepage45 .r2 {
  min-height: 400px;
  color: white;
}

.Homepage45 .r2 .text-area-1 {
  background-attachment: fixed;
  background-image: url(../../assets/code.webp);
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 400px;
}

.Homepage45 .r2 .text-area-1 h1 {
  /* margin-top: 10%; */
  font-size: 8vw;
  font-weight: bold;
  font-family: "Orbitron";
}

.Homepage45 .r2 .text-area-2 {
  padding: 15px 8px;
  height: 400px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: rgb(59, 59, 59);
}

.Homepage45 .r2 .text-area-2 h2 {
  font-size: 4vw;
  /* padding-bottom: 4%; */
  font-family: "Orbitron";
  font-weight: bold;
}

.Homepage45 .r1-3rd {
  padding: 50px;
  /* height: 50vh; */
  overflow: hidden;
}

.Homepage45 .social-icon {
  display: flex;
  justify-content: space-evenly;
  padding: 8px;
  background: white;
}

.Homepage45 .social-icon img {
  height: 60px;
  width: 60px;
}
